{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1>HotS Draft Viewer</h1>
<div class="icon_design">HotS Tools icon design : <a class="icon_design" href="https://twitter.com/mbcat_hots">@mbcat_hots</a></div>
{% if error is defined %}
{{ error }}

{% else %}
<ul>
{% for replay_file in replay_files %}
<li><a href="/show/draft/{{ replay_file.encoded_path() }}" title="{{ replay_file.date_time() }}">{{ replay_file.file_name() }}</li>
{% endfor %}
</ul>
{% endif %}

</div>
{% endblock content %}
