{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h4>{{ replay_file_name }}</h4>

{% if error is defined %}
<pre>{{ error }}</pre>

{% else %}
{{ draft_html|safe }}

<h3>Chat</h3>
<input type="checkbox" onclick="toggle('.dead', this)" id="hide_dead">
<label for="hide_dead">Show dead information.</label>
{{ chat_html|safe }}
{% endif %}

</div>
{% endblock content %}


{% block script %}
<script>
function toggle(className, obj){
  var $input = $(obj);
  if ($input.prop('checked')) {
    $(className).show();
  } else {
    $(className).hide();
  }
}

$(function(){
  $('.dead').hide();
});
</script>
{% endblock script %}
