{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1>HotS Draft Viewer</h1>
<div class="icon_design">HotS Tools icon design : <a class="icon_design" href="https://twitter.com/mbcat_hots">@mbcat_hots</a></div>
<form action="/show/draft/upload" method="post" accept-charset="utf-8" enctype="multipart/form-data">

<input id="StormReplay" name="StormReplay" type="file" value="" />

<input type="submit" value="submit" />
</form>

</div>
{% endblock content %}
