body {
    margin: 1em 0em;
}

span.date {
    font-size: small;
}

h1 {
    margin: 0;
    margin-bottom: 0.3em;
}

img {
    margin: 0;
    padding: 0;
}

img.hero {
    width: 44px;
    height: 44px;
    margin: 1px;
}

img.ban {
    opacity: 0.5;
}

img.small {
    vertical-align: middle;
    width: 44px;
    height: 44px;
    margin: 4px;
}


table.draft {
    border-collapse: collapse;
    border: solid 1px black;
}

table.draft th {
    background: #eeeeee;
    text-align: center;
}

th.select, td.select {
    border-top: solid 1px black;
    border-right: solid 1px black;
    text-align: center;
}

td.double {
    width: 95px;
}

tr.team1, td.team1 {
    background: #6699ff;
    font-weight: bold;
    border: solid 1px black;
    text-align: left;
}

tr.team2, td.team2 {
    background: #ffccff;
    font-weight: bold;
    border: solid 1px black;
    text-align: left;
}

th.draft_team {
    width: 120px;
    border-right-style: double;
}

td.draft_team {
    text-align: center;
    border-right-style: double;
}

td.result {
    text-align: center;
    font-weight: bold;
    border-left-style: double;
}

table.teams {
    border-collapse: collapse;
}

table.teams td {
    padding-right: 1em;
}

table.teams th.result {
    border: solid 1px black;
    background: #eeeeee;
    text-align: center;
}

th.vs {
    padding: 0.5em;
    text-align: center;
}
