{% extends "layout.jinja2" %}

{% block content %}
<div class="content">

<form method="post" action="/memo/add">
<label>hero</label>
<input type="text" name="hero"></input><br>

<label>map</label>
<input type="text" name="field"></input><br>

<label>text</label>
<input class="memo_input" type="text" name="message"></input><br>

<input type="submit"/>
</form>

{% for memo in memos %}
{{memo.hero}}
{{memo.field}}
{{memo.message}}<br>
{% endfor %}

</div>
{% endblock content %}
