body {
    line-height: 1.3;
    margin: 0 0 0 2em;
}

img.sample {
    width: 25%;
    border: 1px black solid;
    vertical-align: top;
}

h1 {
    position: relative;
    padding: 0.85em 0 0 3em;
}

h1:before {
    content: url("img/hots_tools_80.png");
    position: absolute;
    top: 0;
    left: 0;
}

h2 {
    margin: 2em 0 0.5em 0;
}

div {
    margin: 0 0 0 0;
}

div.icon_design {
  text-align: right;
  color: gray;
  padding-right: 1em;
}
a:link.icon_design {
  color: deepskyblue;
}
a:visited.icon_design {
  color: deepskyblue;
}
